# DataFrame Analysis Exercise

**Import the `bestsellers.csv` dataset and use it to answer the following questions:**

* Find the lowest User Rating in the DF
* Find the highest Price in the DF
* What is the average User Rating?
* What the average User Rating of the first 5 rows?
* What User Review score appeared the most?
* What is the total (sum) of all the values in the Reviews column?
* How many different authors are featured in the dataset?
* Which author wrote the most number of books on the list?  How many did they write?

In [2]:
import pandas as pd

In [11]:
new_names = [name.lower() for name in pd.read_csv('data/bestsellers.csv')]
bestsellers = pd.read_csv('data/bestsellers.csv', names=new_names, header=0)

In [12]:
bestsellers.head()

,name,author,user rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [13]:
# lowest user rating
bestsellers['user rating'].min()

3.3

In [14]:
# highest price in the df
bestsellers['price'].max()

105

In [17]:
# average user rating
round(bestsellers['user rating'].mean(), 2)

4.62

In [20]:
round(bestsellers['user rating'].head().mean(), 2)

4.7

In [31]:
# user review score that appeared the most
bestsellers['user rating'].describe()

count    550.000000
mean       4.618364
std        0.226980
min        3.300000
25%        4.500000
50%        4.700000
75%        4.800000
max        4.900000
Name: user rating, dtype: float64

In [22]:
# sum of the value of reviews
bestsellers['reviews'].sum()

6574305

In [28]:
# how many different authors appear in the dataset
len(bestsellers['author'].unique())

248

In [29]:
# which author wrote the most books in the list and how many did they write
bestsellers['author'].describe()

count             550
unique            248
top       Jeff Kinney
freq               12
Name: author, dtype: object